@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CabinSketchBold';
  src: url('/fonts/CabinSketch-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'K2DMedium';
  src: url('/fonts/K2D-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.custom-font {
  font-family: 'CabinSketchBold', sans-serif;
}
.custom-font-description {
  font-family: 'K2DMedium', sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
